# As of 29th September 2015

# Outdated
  jinja2==2.7.3
  flask-socketio==2.7.1

# Any version
  gevent
  itsdangerous
  werkzeug
  markupsafe
  gevent-websocket
  gevent-socketio
  flask
  pyserial
  recordclass
  fakeRPiGPIO
